[submodule "frontend"]
	path = frontend
	url = git@github.com:mynul-islam-madhurjo/youtube-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:mynul-islam-madhurjo/youtube-backend.git
